
{% trans_default_domain 'FOSUserBundle' %}

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active"> Authentication</li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentication</span></h1>

            <div class="row userInfo">

                <div class="col-xs-12 col-sm-6">
                    <h2 class="block-title-2"> Create an account </h2>

 {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{{ form_errors(form) }}

{{ form_label(form.username) }}
{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }} 
{{ form_errors(form.username) }}

{{ form_label(form.email) }}
{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}  
{{ form_errors(form.email) }}

{{ form_label(form.plainPassword.first) }}
{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }} 
{{ form_errors(form.plainPassword.first) }}

{{ form_label(form.plainPassword.second) }}
{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }} 


    <div>
        <input class="btn btn-primary"type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
                {{ form_end(form) }}        
                    
                </div>


</div>
            <!--/row end-->

        </div>

        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>